auto lo
iface lo inet loopback

{% for i in ganeti_net %}
auto eth{{ i.if }}
{% if i.ipv4 is defined %}
iface eth{{ i.if }} inet static
	address {{ i.ipv4 | ipaddr('address') }}
	netmask {{ i.nw | ipaddr('netmask') }}
	broadcast {{ i.nw | ipaddr('broadcast') }}
	gateway {{ i.gw }}
{% else %}
iface eth{{ i.if }} inet manual
{% endif%}

{% if i.nw6 is defined %}
iface eth{{ i.if }} inet6 static
	address {{i.nw6|slaacbymac(i.mac)}}
	netmask {{i.nw6|ipaddr('prefix')}}
	gateway {{i.gw6}}
{% else %}
iface eth{{ i.if }} inet6 manual
{% endif %}

{% endfor %}
